:root {
  --var-fundoTextos: rgb(214, 255, 138);
  --var-fundoTitulo: rgb(190, 255, 162);
  --var-bordaTitulo: rgb(90, 155, 62);
}

.textos2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: min(90vw, 960px);
  justify-self: center;
  border-radius: 24px;
  border: #000 solid 2px;
  background-color: var(--var-fundoTextos);
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

.cabeca2 {
  position: absolute;
  top: 0;
  left: 32px;
  transform: translateY(-50%);
}

.cabeca2 h1 {
  font-size: 26px;
  background-color: var(--var-fundoTitulo);
  padding: 8px 20px;
  border-radius: 30px;
  border-right: var(--var-bordaTitulo) solid 3px;
  border-bottom: var(--var-bordaTitulo) solid 3px;
  margin: 0;
}

.textin2 {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top: 48px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.contato {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  color: #000;
  transition: transform 0.2s;
}
.contato:hover {
  transform: scale(1.03);
}

.contato img {
  height: 36px;
}

.contato span {
  font-size: 18px;
}

@media (max-width: 900px) {
  .cabeca2 {
    left: 16px;
  }

  .cabeca2 h1 {
    font-size: 22px;
  }

  .contato img {
    height: 30px;
  }

  .contato span {
    font-size: 16px;
  }
}